.container {
    display: flex;
    flex-direction: column;
    margin: 200px;
}

// .right {
//     max-width: 1300px;
// }

.product {
    display: flex;
    flex-wrap: wrap;
}


.card {
    top: 250px;
    display: block;
    margin: auto;
    height: 400px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    transition: all ease 0.5s;
    margin-bottom: 10px;

    img {
        width: 250px;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    h1 {
        font-size: 1.3rem;
    }
}

.price {
    font-style: italic;
    color: rgb(155, 154, 154);
    margin: 10px 0px;
}

.cardContent {
    padding: 15px;
}

.card button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: indigo;
    outline: 0;
    border: 0;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    background: #102770;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 700px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.filterSection {
    /* Стили для верхней части фильтрации продуктов */
}

.productSection {
    /* Стили для нижней части с продуктами */
}